:root {
    --main-color: #2a2525;
    --gold-color: #d6963d;
}

body {
    background-color: var(--main-color);
    color: var(--header-color);
}

#header {
    background-color: var(--main-color);
    font-size: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    display: flex;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 0 0;
}

 .header-buttons > button{
    background-color: transparent;
    font-size: 18px;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
}

button#order-btn {
    background-color: var(--gold-color);
    border-radius: 30px;
    padding: 5px 15px;
    min-height: 30px; min-width: 120px;
}